#root{
    width: 100%;
    height: 1000px;
    border: px solid rgb(247, 244, 244);
    box-shadow: 10px 10px lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form{
    border:.5px solid rgb(167, 162, 162);
    box-shadow: 10px 10px lightblue;
    border-radius: 8px;
    width:450px;
    height: 440px;
    display: flex;
    justify-content: center;

}
#first{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
}
#regName,#regEmail,#regPassword{
    height: 30px;
    box-shadow: 0.5px slategray;
    margin-bottom: 25px;
    border-radius: 8px;
    

}

#first button{
    width: 340px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top:25px;
    background-color: rgb(207, 171, 241);
}
#home{
    border: px solid black;
    width: 100%;
    height: 100mvh;
}
#header{
    border: 05px solid grey; 
    background-color: rgb(230, 189, 226);  
    width: 80%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#homePage{
   
     border: 1px solid black;
     box-shadow: 10px 10px lightblue;
     width: 390px;
     height: 440px;
     border-radius: 10px;
     margin: auto;
     margin-top: 40px;
}